In [170]:
import pandas as pd
import mysql.connector
from datetime import datetime
# Step1: Load Data
file_path = r"C:\Users\DEEPI\Desktop\Akshaya\Data Science - Project\traffic_stops.xlsx"
df = pd.read_excel(file_path)
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [171]:
# Step2: Data Cleaning
df.dropna(axis=1, how='all', inplace=True)
#  Fill NaNs with suitable values
df.fillna({
    'driver_age': df['driver_age'].median(),
    'search_type': 'None',
    'stop_duration': 'Unknown',
    'violation': 'Unknown',
    'stop_outcome': 'Unknown',
}, inplace=True)
# Convert date & time to timestamp
df['timestamp'] = pd.to_datetime(df['stop_date']. astype(str) + '' + df['stop_time']. astype(str), format="YYYY-MM-DD HH:MM:SS", errors='coerce')

In [172]:
import pymysql

In [173]:
# Connect to Mysql
import mysql.connector
conn = mysql.connector .connect(
    host="localhost",
    port=3306,
    user="root",
    password="Ak47@123"
)

In [174]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS securecheck")

In [175]:
cursor.execute("USE securecheck")

In [176]:
cursor.execute("""CREATE TABLE IF NOT EXISTS police_logs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    stop_date DATE,
    stop_time TIME,
    country_name VARCHAR(100),
    driver_gender VARCHAR(10),
    driver_age INT,
    driver_race VARCHAR(50),
    violation  VARCHAR(100),
    search_conducted BOOLEAN,
    search_type VARCHAR(100),
    stop_outcome VARCHAR(100),
    drugs_related_stop BOOLEAN,
    stop_duration VARCHAR(50),
    vehicle_number VARCHAR(50),
    timestamp DATETIME
)""")

In [177]:
# Data Cleaning
df.dropna(axis=1, how='all', inplace=True)
df.fillna({
    'driver_age': df['driver_age'].median(),
    'search_type': 'None',
    'stop_duration': 'Unknown',
    'violation': 'Unknown',
    'stop_outcome': 'Unknown',
}, inplace=True)

In [178]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,None,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,None,Ticket,True,16-30 Min,False,UP89PT2924

In [179]:
df = df.where(pd.notnull(df), None)

In [180]:
# Convert stop_date and stop_time to proper formats
df['stop_date'] = pd.to_datetime(df['stop_date'], errors='coerce').dt.strftime('%y-%m-%d')
df['stop_time'] = pd.to_datetime(df['stop_time'], errors='coerce').dt.strftime('%H:%M:%S')

In [181]:
# Create  timestamp column
df['timestamp'] = pd.to_datetime(
    df['stop_date'].astype(str) + " " +
df['stop_time'].astype(str),
    errors='coerce'
)

C:\Users\DEEPI\AppData\Local\Temp\ipykernel_18520\2864513848.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['timestamp'] = pd.to_datetime(

In [182]:
# Replace NaN with None
df = df.where(pd.notnull(df), None)

In [183]:
# Prepare Insert Query
insert_query = """
    INSERT INTO police_logs (
        stop_date, stop_time,  country_name, driver_gender, driver_age, driver_race,
        violation, search_conducted, search_type, stop_outcome, 
        drugs_related_stop, stop_duration, vehicle_number, timestamp
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [184]:
# Iterate DataFrame and Insert Rows
for _, row in df.iterrows():
    cursor.execute(insert_query, (
        row['stop_date'],
        row['stop_time'],
        row.get('country_name'),
        row.get('driver_gender'),
        int(row.get('driver_age')) if row.get('driver_age')is not None else None,
        row.get('driver_race'),
        row.get('violation'),
        bool(row.get('search_conducted')) if row.get('search_conducted') is not None else None,
        row.get('search_type'),
        row.get('stop_outcome'),
        bool(row.get('drugs_related_stop')) if row.get('drugs_related_stop') is not None else None,
        row.get('stop_duration'),
        row.get('vehicle_number', f'VEH{row.name}'),
        row['timestamp']
    ))

In [185]:
# Commit and Close Connection
conn.commit()
cursor.close()
conn.close()
print("Data inserted successfully into single table!")

Data inserted successfully into single table!

In [186]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,timestamp
0,20-01-01,None,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473,NaT
1,20-01-01,None,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441,NaT
2,20-01-01,None,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264,NaT
3,20-01-01,None,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807,NaT
4,20-01-01,None,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,20-02-15,None,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568,NaT
65534,20-02-15,None,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098,NaT
65535,20-02-15,None,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328,NaT
65536,20-02-15,None,Canada,F,49,63,Black,Seatbelt,Other,False,None,Warning,True,0-15 Min,True,KA24UZ8488,NaT
65537,20-02-15,None,USA,F,72,32,Other,Seatbelt,Speeding,True,None,Ticket,True,16-30 Min,False,UP89PT2924,NaT

In [187]:
# Create connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Ak47@123",
    port=3306,           
    database="securecheck"   
)
cursor = conn.cursor()
print("Connected:", conn.is_connected())

Connected: True

In [188]:
# Question 1) Top 10 vehicle_Number involved in drug-related stops
query = """
SELECT 
    vehicle_number,
    COUNT(*) AS search_count
FROM police_logs
WHERE search_conducted = TRUE
GROUP BY vehicle_number
ORDER BY search_count DESC
LIMIT 10;
"""
cursor.execute(query)
result = cursor.fetchall()
# Narrative function
def narrate(row):
    gender = "male" if row["driver_gender"] == "M" else "female"
    search_text = "A search was conducted" if row["search_conducted"] else "No search was conducted"
    drug_text = "was drug-related" if row["drugs_related_stop"] else "was not drug-related"

    return (
        f"A {row['driver_age']}-year-old {gender} driver in vehicle {row['vehicle_number']} "
        f"was stopped for {row['violation']} at {row['stop_time']}. "
        f"{search_text}, and the stop outcome was {row['stop_outcome']}. "
        f"The stop lasted {row['stop_duration']} and {drug_text}."
    )
# Apply narrative
filtered_df.loc[:, "narrative"] = filtered_df.apply(narrate, axis=1)
filtered_df[["vehicle_number", "narrative"]].head(10)

      vehicle_number                                          narrative
65491     WB15HZ2754  A 63-year-old female driver in vehicle WB15HZ2...
65493     MH20PS7576  A 41-year-old male driver in vehicle MH20PS757...
65496     KA50KV7443  A 36-year-old male driver in vehicle KA50KV744...
65499     KA39KJ7168  A 39-year-old female driver in vehicle KA39KJ7...
65500     UP46FD6513  A 37-year-old male driver in vehicle UP46FD651...
65501     RJ94QU9525  A 51-year-old female driver in vehicle RJ94QU9...
65504     TN55YM3068  A 49-year-old female driver in vehicle TN55YM3...
65506     KA15VX1487  A 69-year-old female driver in vehicle KA15VX1...
65509     TN21PO4486  A 25-year-old female driver in vehicle TN21PO4...
65536     KA24UZ8488  A 63-year-old female driver in vehicle KA24UZ8...

In [189]:
# Question 2) Which vehicles were most frequently searched?

query = """
SELECT 
    vehicle_number,
    COUNT(*) AS search_count
FROM police_logs
WHERE search_conducted = TRUE
GROUP BY vehicle_number
ORDER BY search_count DESC
LIMIT 1;
"""

cursor.execute(query)
vehicles = cursor.fetchall()

print("Top Most Frequently Searched Vehicle:\n")
for vehicle, count in vehicles:
    print(f"Vehicle: {vehicle}  |  Searches: {count}")
    print(
        f"A {age}-year-old {g} driver in vehicle {vehicle} was stopped for {viol} at {time}. "
        f"A search was conducted, and the stop outcome was {outcome}. "
        f"The stop lasted {duration}.\n"
    )

Top Most Frequently Searched Vehicle:

Vehicle: DL10AN5267  |  Searches: 7
A 19-year-old female driver in vehicle DL10AN5267 was stopped for Seatbelt at None. A search was conducted, and the stop outcome was Ticket. The stop lasted 16-30 Min.

In [190]:
# Question 3 Not availale 4) Which driver age group had the highest arrest rate?
query = """
SELECT 
    CASE
        WHEN driver_age < 18 THEN 'Under 18'
        WHEN driver_age BETWEEN 18 AND 25 THEN '18-25'
        WHEN driver_age BETWEEN 26 AND 35 THEN '26-35'
        WHEN driver_age BETWEEN 36 AND 45 THEN '36-45'
        WHEN driver_age BETWEEN 46 AND 60 THEN '46-60'
        WHEN driver_age > 60 THEN '60+'
    END AS age_group,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_count,
    (SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) / COUNT(*)) * 100
        AS arrest_rate_percent

FROM police_logs
GROUP BY age_group
ORDER BY arrest_rate_percent DESC
LIMIT 1;
"""
cursor.execute(query)
results = cursor.fetchall()

print(
    f"Drivers aged {age} years had the highest arrest rate. "
    f"Out of {stops} total stops, {arrests} resulted in an arrest, "
    f"giving an arrest rate of {rate}%. \n"
     )
for age_group, total, arrests, rate in results:
    print(f"Age Group: {age_group}")
    print(f"Total Stops: {total}")
    print(f"Arrests: {arrests}")
    print(f"Arrest Rate: {rate:.2f}%\n")

Drivers aged 19 years had the highest arrest rate. Out of 393228 total stops, 25464 resulted in an arrest, giving an arrest rate of 32.63%.

Age Group: 46-60
Total Stops: 109634
Arrests: 36883
Arrest Rate: 33.64%

In [191]:
# Question 5) Gender distribution of drivers stopped in each country
query = """
SELECT 
    country_name,
    driver_gender,
    COUNT(*) AS total_count
FROM police_logs
GROUP BY country_name, driver_gender
ORDER BY country_name, driver_gender;
"""
cursor.execute(query)
results = cursor.fetchall()

print("\nGender Distribution of Drivers Stopped in Each Country:\n")
for country, gender, count in results:
    g = "male" if gender == "M" else "female"
    print(f"In {country}, {count} {g} drivers were stopped.")

Gender Distribution of Drivers Stopped in Each Country:

In Canada, 76979 female drivers were stopped.
In Canada, 76377 male drivers were stopped.
In India, 77301 female drivers were stopped.
In India, 76685 male drivers were stopped.
In USA, 75887 female drivers were stopped.
In USA, 75537 male drivers were stopped.

In [192]:
# Question 6) Which race and gender combination has the highest search rate?
query = """
SELECT 
    driver_race,
    driver_gender,
    AVG(search_conducted) AS search_rate
FROM police_logs
GROUP BY driver_race, driver_gender
ORDER BY search_rate DESC
LIMIT 1;
"""

cursor.execute(query)
race, gender, rate = cursor.fetchone()

g = "male" if gender == "M" else "female"
rate_percent = round(rate * 100, 2)

print("\nRace + Gender combination with highest search rate:\n")
print(f"{race} {g} drivers had the highest search rate at {rate_percent}%.")

Race + Gender combination with highest search rate:

Asian female drivers had the highest search rate at 51.29%.

In [193]:
# Question 7) What time of day sees the most traffic stops?
query = """
SELECT 
    HOUR(timestamp) AS hour_of_day,
    COUNT(*) AS stop_count
FROM police_logs
GROUP BY hour_of_day
ORDER BY stop_count DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()
hour, count = result
# Categorize hour into time of day
if 5 <= hour < 12:
    period = "Morning"
elif 12 <= hour < 17:
    period = "Afternoon"
elif 17 <= hour < 21:
    period = "Evening"
else:
    period = "Night"

print(f"Most traffic stops occur at {hour}:00 — during the {period}.")

Most traffic stops occur at 0:00 — during the Night.

In [194]:
# Question 8) What is the average stop duration for different violations?
query = """
SELECT 
    violation,
    AVG(
        CASE stop_duration
            WHEN '0-5 Min' THEN 2.5
            WHEN '6-15 Min' THEN 10
            WHEN '16-30 Min' THEN 23
            WHEN '31-60 Min' THEN 45
            ELSE 10
        END
    ) AS avg_duration
FROM police_logs
GROUP BY violation
ORDER BY avg_duration DESC;
"""
cursor.execute(query)
records = cursor.fetchall()
# Narrative summary for different violations
def narrate(violation, avg_duration):
    return (
        f"violation '{violation}', the average traffic stop lasted "
        f"approximately {round(avg_duration)} minutes. "
        f"This indicates that officers generally spent more time handling this type "
        f"of violation compared to others."
    )
print("\nNarrative Summary for Average Stop Duration by Violation:\n")

for violation, avg_duration in records:
    print(narrate(violation, avg_duration))

Narrative Summary for Average Stop Duration by Violation:

violation 'Speeding', the average traffic stop lasted approximately 14 minutes. This indicates that officers generally spent more time handling this type of violation compared to others.
violation 'Signal', the average traffic stop lasted approximately 14 minutes. This indicates that officers generally spent more time handling this type of violation compared to others.
violation 'Seatbelt', the average traffic stop lasted approximately 14 minutes. This indicates that officers generally spent more time handling this type of violation compared to others.
violation 'DUI', the average traffic stop lasted approximately 14 minutes. This indicates that officers generally spent more time handling this type of violation compared to others.
violation 'Other', the average traffic stop lasted approximately 14 minutes. This indicates that officers generally spent more time handling this type of violation compared to others.

In [195]:
# Question 9) Are stops during the night more likely to lead to arrests? 
query = """
SELECT 
    CASE 
        WHEN TIME(stop_time) BETWEEN '19:00:00' AND '23:59:59' # Night 7pm to 12 pm
             OR TIME(stop_time) BETWEEN '00:00:00' AND '05:00:00' 
            THEN 'Night'
        ELSE 'Day'
    END AS time_period,
    
    COUNT(*) AS total_stops,
    
    SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS total_arrests
FROM police_logs
GROUP BY time_period;
"""
cursor.execute(query)
results = cursor.fetchall()
# Extract values
day_stops, day_arrests = 0, 0
night_stops, night_arrests = 0, 0

for period, total, arrests in results:
    if period == "Day":
        day_stops = total
        day_arrests = arrests
    else:
        night_stops = total
        night_arrests = arrests

# Calculate arrest rates
day_rate = (day_arrests / day_stops) * 100 if day_stops > 0 else 0
night_rate = (night_arrests / night_stops) * 100 if night_stops > 0 else 0
# Narrative answer
if night_rate > day_rate:
    conclusion = (
        f"Yes. Night-time stops show a higher arrest rate. "
        f"Night arrests occurred at {night_rate:.1f}% compared to {day_rate:.1f}% during the day."
    )
else:
    conclusion = (
        f"No. Night-time stops do not show a higher arrest rate. "
        f"Night arrests occurred at {night_rate:.1f}% compared to {day_rate:.1f}% during the day."
    )
print(conclusion)

No. Night-time stops do not show a higher arrest rate. Night arrests occurred at 0.0% compared to 33.2% during the day.

In [196]:
# Question 10) Which violations are most associated with searches or arrests?
query = """
SELECT 
    violation,
    SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS search_count,
    SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_count,
    SUM(CASE 
        WHEN search_conducted = TRUE OR stop_outcome = 'Arrest' 
        THEN 1 ELSE 0 END
    ) AS total_associated
FROM police_logs
GROUP BY violation
ORDER BY total_associated DESC
LIMIT 3;
"""

cursor.execute(query)
violations = cursor.fetchall()

print("\nHighlighted 3 Main Violations Most Associated With Searches or Arrests:\n")
for viol, s_count, a_count, total in violations:
    print(f"{viol:<20}  Searches: {s_count} | Arrests: {a_count} | Total: {total}")

Highlighted 3 Main Violations Most Associated With Searches or Arrests:

Other                 Searches: 46032 | Arrests: 30695 | Total: 61369
Speeding              Searches: 46011 | Arrests: 30751 | Total: 61278
DUI                   Searches: 45367 | Arrests: 30569 | Total: 61201

In [197]:
# Question 11)  Which violations are most common among younger drivers (<25)?
query = """
SELECT 
    violation,
    COUNT(*) AS violation_count
FROM police_logs
WHERE driver_age < 25
GROUP BY violation
ORDER BY violation_count DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()
# Extract top violation
top_violation, count = result
# Step 2 — Get one sample record for narrative output
query_sample = """
SELECT 
    driver_age, driver_gender, violation, stop_time, 
    search_conducted, stop_outcome, stop_duration
FROM police_logs
WHERE driver_age < 25 AND violation = %s
LIMIT 1;
"""
cursor.execute(query_sample, (top_violation,))
sample = cursor.fetchone()

age, gender, viol, time, search, outcome, duration = sample

# Convert gender
gender_full = "male" if gender == "M" else "female"

# Convert search text
search_text = "A search was conducted" if search else "No search was conducted"

# Narrative output
print(f"Most common violation among younger drivers (<25): {top_violation}\n")
print(
    f"A {age}-year-old {gender_full} driver committed the violation '{viol}' at {time}. "
    f"{search_text}, and the stop outcome was {outcome}. "
    f"The stop lasted {duration}."
)

Most common violation among younger drivers (<25): Speeding

A 19-year-old male driver committed the violation 'Speeding' at None. A search was conducted, and the stop outcome was Ticket. The stop lasted 16-30 Min.

In [198]:
# Question 12)  Is there a violation that rarely results in search or arrest?
query = """
SELECT 
    violation,
    AVG(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS search_rate,
    AVG(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_rate
FROM police_logs
GROUP BY violation
ORDER BY (search_rate + arrest_rate) ASC
LIMIT 1;
"""
cursor.execute(query)
violation_low = cursor.fetchone()

violation = violation_low[0]
search_rate = round(violation_low[1] * 100, 2)
arrest_rate = round(violation_low[2] * 100, 2)

print(f"Violation: {violation}")
print(f"Search Rate: {search_rate}%")
print(f"Arrest Rate: {arrest_rate}%\n")
print(
    f"The violation '{violation}' is least likely to result in a search or arrest. "
    f"Only {search_rate}% of stops for this violation involve a search, "
    f"and just {arrest_rate}% lead to an arrest. "
    f"This makes it the violation with the lowest enforcement action rate among all categories."
)

Violation: Signal
Search Rate: 49.64%
Arrest Rate: 33.14%

The violation 'Signal' is least likely to result in a search or arrest. Only 49.64% of stops for this violation involve a search, and just 33.14% lead to an arrest. This makes it the violation with the lowest enforcement action rate among all categories.

In [199]:
# Question 13)  Which countries report the highest rate of drug-related stops?
query = """
SELECT 
    country_name,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN drugs_related_stop = TRUE THEN 1 ELSE 0 END) AS drug_related_stops,
    ROUND(
        SUM(CASE WHEN drugs_related_stop = TRUE THEN 1 ELSE 0 END) 
        / COUNT(*) * 100, 2
    ) AS drug_related_rate
FROM police_logs
GROUP BY country_name
ORDER BY drug_related_rate DESC;
"""
cursor.execute(query)
data = cursor.fetchall()

print("Countries With The Highest Drug-Related Stop Rates:\n")
for country, total, drug_count, rate in data:
    print(f"{country}: {rate}% drug-related stops")

Countries With The Highest Drug-Related Stop Rates:

USA: 50.37% drug-related stops
Canada: 50.10% drug-related stops
India: 49.54% drug-related stops

In [200]:
# Question 14) What is the arrest rate by country and violation?
query = """
SELECT 
    country_name,
    violation,
    SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_count,
    COUNT(*) AS total_stops,
    ROUND(
        (SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) / COUNT(*)) * 100,
        2
    ) AS arrest_rate
FROM police_logs
GROUP BY country_name, violation
ORDER BY arrest_rate DESC;
"""

cursor.execute(query)
rows = cursor.fetchall()

import pandas as pd

columns = ["Country", "Violation", "Total Stops", "Arrests", "Arrest Rate (%)"]
df_result = pd.DataFrame(rows, columns=columns)

df_result
def narrate(row):
    return (
        f"In {row['Country']}, drivers stopped for {row['Violation']} had an "
        f"arrest rate of {row['Arrest Rate (%)']}%. "
        f"There were {row['Total Stops']} total stops, out of which "
        f"{row['Arrests']} resulted in arrests."
    )

df_result["Narrative"] = df_result.apply(narrate, axis=1)

df_result[["Country", "Violation", "Narrative"]]

   Country Violation                                          Narrative
0      USA       DUI  In USA, drivers stopped for DUI had an arrest ...
1    India  Seatbelt  In India, drivers stopped for Seatbelt had an ...
2   Canada  Speeding  In Canada, drivers stopped for Speeding had an...
3   Canada     Other  In Canada, drivers stopped for Other had an ar...
4      USA    Signal  In USA, drivers stopped for Signal had an arre...
5    India     Other  In India, drivers stopped for Other had an arr...
6      USA  Speeding  In USA, drivers stopped for Speeding had an ar...
7    India  Speeding  In India, drivers stopped for Speeding had an ...
8    India    Signal  In India, drivers stopped for Signal had an ar...
9   Canada       DUI  In Canada, drivers stopped for DUI had an arre...
10   India       DUI  In India, drivers stopped for DUI had an arres...
11  Canada    Signal  In Canada, drivers stopped for Signal had an a...
12     USA     Other  In USA, drivers stopped for Other had an arres...
13     USA  Seatbelt  In USA, drivers stopped for Seatbelt had an ar...
14  Canada  Seatbelt  In Canada, drivers stopped for Seatbelt had an...

In [201]:
# Question 15)  Which country has the most stops with search conducted?
query = """
SELECT 
    country_name,
    COUNT(*) AS total_searches
FROM police_logs
WHERE search_conducted = TRUE
GROUP BY country_name
ORDER BY total_searches DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

country, searches = result

print("Country with the MOST search-conducted stops:\n")
print(f"Country: {country}  |  Searches: {searches}\n")

Country with the MOST search-conducted stops:

Country: Canada  |  Searches: 77140

In [202]:
# Complex Question 1) Yearly Breakdown of Stops and Arrests by Country (Using Subquery & Window function)
query = """
WITH yearly_data AS (
    SELECT
        YEAR(stop_date) AS year,
        COUNT(*) AS total_stops,
        SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS total_arrests
    FROM police_logs
    GROUP BY YEAR(stop_date)
),
yearly_window AS (
    SELECT
        year,
        total_stops,
        total_arrests,
        total_arrests / total_stops AS arrest_rate,
        SUM(total_arrests) OVER (ORDER BY year) AS cumulative_arrests
    FROM yearly_data
)
SELECT *
FROM yearly_window
ORDER BY year;
"""
cursor.execute(query)
rows = cursor.fetchall()

print("Yearly Breakdown of Stops & Arrests:\n")
for row in rows:
    year, stops, arrests, rate, cumulative = row
    print(f"Year: {year}")
    print(f"Total Stops: {stops}")
    print(f"Total Arrests: {arrests}")
    print(f"Arrest Rate: {rate:.2%}")
    print(f"Cumulative Arrests (Window Function): {cumulative}\n")

print("\nNarrative Summary:\n")
for row in rows:
    year, stops, arrests, rate, cumulative = row
    
    print(
        f"In {year}, officers conducted {stops} traffic stops. "
        f"Out of these, {arrests} resulted in arrests, producing an arrest rate of {rate:.2%}. "
        f"Up to {year}, a total of {cumulative} arrests have been recorded cumulatively."
    )
    print()

Yearly Breakdown of Stops & Arrests:

Year: 2020
Total Stops: 458766
Total Arrests: 152138
Arrest Rate: 33.16%
Cumulative Arrests (Window Function): 152138


Narrative Summary:

In 2020, officers conducted 458766 traffic stops. Out of these, 152138 resulted in arrests, producing an arrest rate of 33.16%. Up to 2020, a total of 152138 arrests have been recorded cumulatively.

In [203]:
# Complex Question 2) Driver Violation Trends Based on Age and Race (Join with Subquery)
query = """
SELECT 
    v.driver_age_group,
    v.driver_race,
    v.violation,
    v.total_stops,
    s.search_rate
FROM
    (SELECT 
        CASE 
            WHEN driver_age < 25 THEN 'Under 25'
            WHEN driver_age BETWEEN 25 AND 40 THEN '25-40'
            WHEN driver_age BETWEEN 41 AND 60 THEN '41-60'
            ELSE '60+' 
        END AS driver_age_group,
        driver_race,
        violation,
        COUNT(*) AS total_stops
     FROM police_logs
     GROUP BY driver_age_group, driver_race, violation
    ) AS v
LEFT JOIN
    (SELECT 
        CASE 
            WHEN driver_age < 25 THEN 'Under 25'
            WHEN driver_age BETWEEN 25 AND 40 THEN '25-40'
            WHEN driver_age BETWEEN 41 AND 60 THEN '41-60'
            ELSE '60+' 
        END AS driver_age_group,
        driver_race,
        violation,
        AVG(search_conducted) AS search_rate
     FROM police_logs
     GROUP BY driver_age_group, driver_race, violation
    ) AS s
ON v.driver_age_group = s.driver_age_group
AND v.driver_race = s.driver_race
AND v.violation = s.violation
ORDER BY total_stops DESC;
"""

cursor.execute(query)
rows = cursor.fetchall()

import pandas as pd
df_result = pd.DataFrame(rows, columns=[
    "driver_age_group", "driver_race", "violation", 
    "total_stops", "search_rate"
])

df_result

   driver_age_group driver_race violation  total_stops search_rate
0             41-60       White  Speeding         6244      0.5067
1             41-60       White    Signal         6118      0.4668
2             41-60       Other    Signal         6069      0.4960
3               60+       Asian  Speeding         6062      0.5092
4               60+       Black       DUI         6062      0.4861
..              ...         ...       ...          ...         ...
95         Under 25    Hispanic  Speeding         1862      0.5113
96         Under 25       Black       DUI         1848      0.5303
97         Under 25       Asian       DUI         1827      0.4598
98         Under 25       Black  Seatbelt         1827      0.4943
99         Under 25       Asian    Signal         1785      0.5020

[100 rows x 5 columns]

In [204]:
# Complex Question 3)Time Period Analysis of Stops (Joining with Date Functions) , Number of Stopsby Year,Month, Hour of the Day 
query_year = """
SELECT 
    YEAR(stop_date) AS stop_year,
    COUNT(*) AS total_stops
FROM police_logs
GROUP BY YEAR(stop_date)
ORDER BY stop_year;
"""
cursor.execute(query_year)
year_data = cursor.fetchall()

print("🚓 Number of Stops by Year:\n")
for year, total in year_data:
    print(f"Year {year}: {total} stops")
query_month = """
SELECT 
    MONTH(stop_date) AS stop_month,
    COUNT(*) AS total_stops
FROM police_logs
GROUP BY MONTH(stop_date)
ORDER BY stop_month;
"""
cursor.execute(query_month)
month_data = cursor.fetchall()

print("\n📅 Number of Stops by Month:\n")
for month, total in month_data:
    print(f"Month {month}: {total} stops")
query_hour = """
SELECT 
    HOUR(stop_time) AS stop_hour,
    COUNT(*) AS total_stops
FROM police_logs
GROUP BY HOUR(stop_time)
ORDER BY stop_hour;
"""
cursor.execute(query_hour)
hour_data = cursor.fetchall()

print("\n⏰ Number of Stops by Hour of the Day:\n")
for hour, total in hour_data:
    print(f"Hour {hour}: {total} stops")

🚓 Number of Stops by Year:

Year 2020: 458766 stops

📅 Number of Stops by Month:

Month 1: 312480 stops
Month 2: 146286 stops

⏰ Number of Stops by Hour of the Day:

Hour None: 458766 stops

In [205]:
# Complex Question 4) Violations with High Search and Arrest Rates (Window Function)
query = """
WITH stats AS (
    SELECT 
        violation,
        COUNT(*) AS total_stops,
        SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS total_searches,
        SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS total_arrests
    FROM police_logs
    GROUP BY violation
),
rates AS (
    SELECT
        violation,
        total_stops,
        total_searches,
        total_arrests,
        (total_searches * 100.0 / total_stops) AS search_rate,
        (total_arrests * 100.0 / total_stops) AS arrest_rate,
        RANK() OVER (ORDER BY (total_searches * 100.0 / total_stops) DESC) AS search_rank,
        RANK() OVER (ORDER BY (total_arrests * 100.0 / total_stops) DESC) AS arrest_rank
    FROM stats
)
SELECT *
FROM rates
ORDER BY search_rank, arrest_rank;
"""
cursor.execute(query)
rows = cursor.fetchall()

import pandas as pd
columns = [
    "violation", "total_stops", "total_searches", "total_arrests",
    "search_rate", "arrest_rate", "search_rank", "arrest_rank"
]

df_results = pd.DataFrame(rows, columns=columns)
df_results

,violation,total_stops,total_searches,total_arrests,search_rate,arrest_rate,search_rank,arrest_rank
0,Seatbelt,91049,45934,29708,50.44976,32.62858,1,5
1,Speeding,92050,46011,30751,49.98479,33.40684,2,1
2,Other,92358,46032,30695,49.84084,33.23480,3,3
3,Signal,91784,45563,30415,49.64155,33.13758,4,4
4,DUI,91525,45367,30569,49.56788,33.39962,5,2

In [206]:
# Complex Question 5) Driver Demographics by Country (Age, Gender, and Race)
query = """
WITH age_groups AS (
    SELECT 
        id,
        CASE 
            WHEN driver_age < 18 THEN 'Under 18'
            WHEN driver_age BETWEEN 18 AND 25 THEN '18-25'
            WHEN driver_age BETWEEN 26 AND 40 THEN '26-40'
            WHEN driver_age BETWEEN 41 AND 60 THEN '41-60'
            ELSE '60+'
        END AS age_group,
        driver_age,
        driver_race,
        violation,
        search_conducted
    FROM police_logs
),
race_violations AS (
    SELECT 
        age_group,
        driver_race,
        violation,
        COUNT(*) AS total_stops,
        SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS searches,
        (SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) / COUNT(*)) * 100 AS search_rate
    FROM age_groups
    GROUP BY age_group, driver_race, violation
)
SELECT 
    age_group,
    driver_race,
    violation,
    total_stops,
    searches,
    ROUND(search_rate, 2) AS search_rate
FROM race_violations
ORDER BY search_rate DESC
LIMIT 10;
"""
cursor.execute(query)
rows = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]
df_trends = pd.DataFrame(rows, columns=columns)

df_trends

  age_group driver_race violation  total_stops searches search_rate
0     18-25    Hispanic  Seatbelt         2184     1204       55.13
1     41-60       Black    Signal         5621     3080       54.79
2     18-25       White  Seatbelt         2212     1197       54.11
3     18-25       Black     Other         2324     1253       53.92
4       60+       Asian     Other         6048     3248       53.70
5     18-25       Other       DUI         2184     1169       53.53
6       60+    Hispanic  Speeding         5579     2954       52.95
7     18-25       Asian     Other         2170     1141       52.58
8     18-25       White       DUI         2163     1134       52.43
9     41-60       Asian  Seatbelt         5684     2968       52.22

In [207]:
# Complex Question 6) Top 5 Violations with Highest Arrest Rates
query = """
SELECT 
    violation,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_count,
    ROUND(
        (SUM(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) / COUNT(*)) * 100,
        2
    ) AS arrest_rate
FROM police_logs
GROUP BY violation
ORDER BY arrest_rate DESC
LIMIT 5;
"""
cursor.execute(query)
rows = cursor.fetchall()

print("Top 5 Violations With Highest Arrest Rates:\n")
for v, total, arrests, rate in rows:
    print(f"Violation: {v}")
    print(f"Total Stops: {total}")
    print(f"Arrests: {arrests}")
    print(f"Arrest Rate: {rate}%\n")

Top 5 Violations With Highest Arrest Rates:

Violation: Speeding
Total Stops: 92050
Arrests: 30751
Arrest Rate: 33.41%

Violation: DUI
Total Stops: 91525
Arrests: 30569
Arrest Rate: 33.40%

Violation: Other
Total Stops: 92358
Arrests: 30695
Arrest Rate: 33.23%

Violation: Signal
Total Stops: 91784
Arrests: 30415
Arrest Rate: 33.14%

Violation: Seatbelt
Total Stops: 91049
Arrests: 29708
Arrest Rate: 32.63%